<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <style>
      @media only screen and (min-width: 1000px) {
        .is-none{
          margin-left: -95%;
        }
      }
    </style>
</head>
<body>
    <header class="bg-light">
        <div class="px-3 py-2 bg-dark text-white">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                  <h1>Alclub</h1>
                </a>
      
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                  <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-house-fill"></i>
                      Alclub
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-file-post-fill"></i>
                      AlCommunity
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-calendar-date-fill"></i>
                      Alevent
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-person-fill-add"></i>
                      AlHire
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-wallet-fill"></i>
                      AlFinacial
                    </a>
                  </li>
                  <li>
                    <div class="dropdown">
                      <button class="nav-link text-white dropdown-toggle" style="border: none;background-color: transparent;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i> Tài Khoản
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Thông Tin Tài Khoản</a></li>
                        <li><a class="dropdown-item">Thay Đổi Thông Tin Tài Khoản</a></li>
                        <li><a class="dropdown-item link-danger">Đăng Xuất</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    </header>
    <main>
        <div class="container">
            <br>
            <h1 class="text-center">Phân tích</h1>
            <br>
                <div class="columns">
                    <div class="column w-100">
                        <div class="card w-100">
                            <div class="card-body" style="padding-left: 3%;">
                                <h1>Câu Lạc Bộ</h1>
                                <br>
                                <div class="columns">
                                    <div class="column">
                                        <ul class="align-items-center">
                                            <li><a class="link-dark">Xem Các CLB Của Bạn</a></li>
                                            <li><a class="link-dark">Xem Ứng Viên CLB</a></li>
                                        </ul>
                                    </div>
                                    <div class="column">
                                        <ul class="align-items-center">
                                            <li><a class="link-dark">Xem Thành Viên CLB</a></li>
                                            <li><a class="link-dark">Tạo CLB</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column w-100">
                        <div class="card w-100">
                            <div class="card-body" style="padding-left: 3%;">
                                <h1>Tin Tuyển</h1>
                                <br>
                                <div class="columns">
                                    <div class="column">
                                        <ul class="align-items-center">
                                            <li><a class="link-dark">Xem Các Tin Tuyển Của Bạn</a></li>
                                            <li><a class="link-dark">Xem Ứng Viên</a></li>
                                        </ul>
                                    </div>
                                    <div class="column">
                                        <ul>
                                            <li><a class="link-dark">Tạo Tin Tuyển</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column w-100">
                        <div class="card w-100">
                            <div class="card-body" style="padding-left: 3%;">
                                <h1>Sự kiện</h1>
                                <br>
                                <div class="columns">
                                    <div class="column">
                                        <ul class="align-items-center">
                                            <li><a class="link-dark">Xem Các Sự Kiện Của Bạn</a></li>
                                            <li><a class="link-dark">Xem Các Đơn Xin Tham Dự</a></li>
                                        </ul>
                                    </div>
                                    <div class="column">
                                        <ul>
                                            <li><a class="link-dark">Tạo Sự Kiện</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </main>

</body>
</html>